/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    background-image: url(background.jpg);

}

div {
    background-image: linear-gradient(to bottom, #d4f1ff 80%, #0206fe 20%);
    width: 500px;
    height: 350px;
    overflow: hidden;
    position: relative;
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

div svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

div img {
    position: absolute;
}



#DarkWaves {
    width: calc(100% + 40px);
    left: -40px;
    z-index: 1;
    animation: marea 4s ease-in-out infinite alternate;
}

#LightWaves {
    width: calc(100% + 40px);
    left: -40px;
    z-index: 2;
    animation: marea 3s ease-in-out infinite alternate-reverse;
}


#sol {
    width: 102px;
    right: 27px;
    top: 5px;

    animation: rotacion 6s linear infinite;
}


#barco {
    bottom: 85px;
    width: 170px;
    height: auto;
    right: 80px;
    z-index: 0;
    animation:
        flotar 6s ease-in-out infinite,
        navegar 35s ease-in-out infinite;

}


#delfin {
    width: 89px;
    transform: rotate(-30deg);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    animation: salto-delfin 10s ease-in-out infinite;
}



#delfin2 {
    width: 89px;
    transform: rotate(-30deg);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    animation: salto-delfin2 10s ease-in-out infinite;
}



#nubes {
    left: 20px;
    width: 25%;
    animation: nube 20s linear infinite;
}


@keyframes flotar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(4px) rotate(8deg);
    }

    50% {
        transform: translateY(0) rotate(0deg);
    }

    75% {
        transform: translateY(-4px) rotate(-8deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes navegar {
    0% {
        right: 0px;
    }

    50% {
        right: 275px;
    }

    100% {
        right: 0px;
    }
}

@keyframes marea {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(55px);
    }
}


@keyframes nube {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes rotacion {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(360deg) scale(0.69);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}


@keyframes salto-delfin {


    0% {
        left: -30px;
        bottom: -50px;
        transform: rotate(-45deg);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    14% {
        bottom: 120px;
        transform: rotate(0deg);
    }

    28% {
        bottom: -50px;
        transform: rotate(260deg);
    }


    29% {
        bottom: -60px;
        transform: rotate(-45deg);
    }

    43% {
        bottom: 120px;
        transform: rotate(0deg);
    }

    57% {
        bottom: -50px;
        transform: rotate(260deg);
    }


    58% {
        bottom: -60px;
        transform: rotate(-45deg);
    }


    72% {
        bottom: 220px;
        transform: rotate(0deg);
    }

    86% {
        bottom: -50px;
        transform: rotate(45deg);
        opacity: 1;
    }


    100% {
        left: 650px;
        bottom: -100px;
        transform: rotate(45deg);
        opacity: 0;
    }
}

@keyframes salto-delfin2 {

    0% {
        left: 70px;
        bottom: -50px;
        transform: rotate(-45deg);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    14% {
        bottom: 220px;
        transform: rotate(0deg);
    }

    28% {
        bottom: -50px;
        transform: rotate(260deg);
    }

    29% {
        bottom: -60px;
        transform: rotate(-45deg);
    }

    43% {
        bottom: 220px;
        transform: rotate(360deg);
    }

    57% {
        bottom: -50px;
        transform: rotate(460deg);
    }


    58% {
        bottom: -60px;
        transform: rotate(-45deg);
    }

    72% {
        bottom: 220px;
        transform: rotate(0deg);
    }

    86% {
        bottom: -50px;
        transform: rotate(260deg);
        opacity: 1;
    }


    100% {
        left: 650px;
        bottom: -100px;
        transform: rotate(45deg);
        opacity: 0;
    }

}