*{
    margin: 0%;
    padding: 0%;

}

header{  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    gap: 15px;
}

header h1{
    border: 10px solid palegreen;
    background-color: aqua;
}

header h3{
    font-style: italic;
}

body{
    background-color: rgb(186, 189, 110);
}


h2{
    padding: 0% auto;
    text-align: center;
    margin: 10%;
}


table{
    border-collapse: collapse;
    margin: 0% auto;
}

th, td{
    border: 4px solid black; 
    
}

td{
    text-align: center;
    font-size: 20px;
}
.info .celdaInfo{
    font-size: 15px;
    padding: 2%;
}

.conservado table tr .celda-imagen,  
.cambio table tr .celda-imagen,
.redimension table tr .celda-imagen{
    width: 300px;

}



td img{
    display: block;
    object-fit: fill;
    height: auto; 
    max-width: 100%;
    max-height: 100%;
}

table tr td{
    justify-content: center;
    align-self: center;
    
}

table .info{
    border: 4px solid black;
}
