*{
    margin: 0%;
    padding: 0%;

}

header{  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    gap: 15px;
}

header h1{
    border-radius: 0.75cap;
    border: 10px solid palegreen;
    background-color: rgb(0, 255, 149);
    padding: 10px;
}

header h3{
    font-style: italic;
    color: white;             
    -webkit-text-stroke: 1px black;
    font-size: 35px;

}

body{
    background-image: url(el-gato-bailando.gif);
    background-repeat: repeat;
    background-size: 170px ;

}


h2{
    padding: 0% auto;
    text-align: center;
    margin: 10%;

    border-radius: 0.75cap;
    border: 10px solid palegreen;
    background-color: rgb(0, 255, 221);

}


table{
    border-collapse: collapse;
    margin: 0% auto;
    background-color: rgba(240, 248, 255);
}

th, td{
    border: 4px solid black; 
    
}

td{
    text-align: center;
    font-size: 20px;
}
.info .celdaInfo{
    font-size: 15px;
    padding: 2%;
}

.conservado table tr .celda-imagen,  
.cambio table tr .celda-imagen,
.redimension table tr .celda-imagen{
    width: 300px;
}


.celda-con-linea {
    padding: 10px;
}
hr.separador {
    border: 0;
    border-top: 1px solid #000;
    margin: 5px 0;
    width: 100%;
}


td img{
    display: block;
    object-fit: fill;
    height: auto; 
    max-width: 100%;
    max-height: 100%;
}

table tr td{
    justify-content: center;
    align-self: center;
    
}

table .info{
    border: 4px solid black;
}


.redimension table tr .celda-imagen-1200{
    width: 1200px;
}

.redimension table tr .celda-imagen-800{
    width: 800px;
}

.redimension table tr .celda-imagen-500{
    width: 500px;
}


.reflexionTexto{
    padding: 0% auto;
    text-align: center;
    margin: 10%;

    background-color: blanchedalmond;
    border-radius: 0.75cap;
    border: 10px solid palegreen;
    padding: 2%;

    font-size: 30px;
}

.reflexionTexto p{
    padding: 20px;
}

.reflexionTexto img{
    margin-top: 20px;
    height: 300px;
    width: 600px;
}